[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selene = "==2.0.0a39"
pytest = "==6.2.5"
pytest-env = "==0.6.2"
allure-pytest = "==2.9.43"
assertpy = "==1.1"
faker = "*"
colorama = "*"
atomicwrites = "*"

[dev-packages]

[requires]
python_version = "3.8"
