[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selene = "==2.0.0a36"
pytest = "==6.2.2"
pytest-env = "==0.6.2"
allure-pytest = "==2.8.33"
assertpy = "==1.1"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
